body {
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
}
header{
    position: fixed;
    display: grid;
    height: 14px;
    width: 100%;
}
header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
    justify-content: space-between;
    padding: 24px 16px 17px;
}
header nav ul a{
    color: white;
    text-decoration: none;
}
header li{
    align-self: center;
    margin: 10px;
}
header nav ul li:nth-of-type(1){
    position: relative;
    margin-right:auto;
}
h2{
    display: flex;
    color: #de00ff;
    font-size: 58px;
    justify-content: center;
    padding: 0% auto;
    margin: 0% auto;
    text-align: center;
}
p{
    display: flex;
    font-size: 14px;
    justify-content: center;
    color: white;
    text-align: center;
}
main ul{
    list-style: none;
    padding: 0% auto;
    margin: 0% auto;
    position: relative;
    width: 70%;
    top: 40%;
    left: -20px;
}
html { 
    scroll-snap-type: y mandatory;
  }
section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}
section:nth-of-type(1n+0){
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    height: 100vh;
}
section:first-of-type{
    background: url(../images/homebg1.jpg);
}    
section:nth-of-type(2){
    background: url(../images/homebg2.jpg);
}    
section:nth-of-type(3){
    background: url(../images/homebg3.jpg);
}    
.section:last-of-type{
    background: url(../images/homebg4.jpg);
}    
.bottom {
    display: flex;
    justify-content: center;
    padding: 0%;
}
.bottom ul{
    position: fixed;
    list-style: none;
    padding: 0%;
    margin: 0%;
    top: 90%;
}
.bottom ul{
    display: flex;
    list-style: none;
}
.bottom ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.bottom li{
    margin: 10px;
}
.bottom li:nth-of-type(2){
    text-decoration: underline;
}
