body {
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
}

/* PAGE SNAP */
html{ 
    scroll-snap-type: y mandatory;
}
section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

/* TOP NAV */
header .topmenu{
    position: fixed;
    height: 14px;
    width: 100%;
}
header nav .topmenu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 24px 16px 17px 0px;
}
header nav .topmenu a{
    color: black;
    text-shadow:1px 1px white;
    text-decoration: none;
}
header .topmenu li{
    align-self: center;
    margin: 10px;
}
header .topmenu li:nth-of-type(2){
    font-size: 50px;
    font-weight: bold;
}
header .topmenu li:nth-of-type(3){
    display: none;
}
header .topmenu li:nth-of-type(4){
    display: flex;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 19px;
}
header .topmenu li:nth-of-type(5){
    display: flex;
    margin-left:auto;
}
header .topmenu li:nth-of-type(6){
    display: flex;
}

/* HAMBURGER MENU */
nav .topmenu li:nth-of-type(1) img{
    z-index: 25;
}
nav ul:nth-of-type(2){
    position: absolute;
    z-index: 1;
    height: 100vh;
    margin: 0px;
    padding: 80px 0px 0px 25px;
    list-style: none;
    background-color: white;
    transform: translateX(-100%);
}

nav ul:nth-of-type(2).show {
    transform: translateX(0);
}

nav ul:nth-of-type(2) a{
    color: black;
    text-shadow: 1px 1px white;
    text-decoration: none;
}
nav ul:nth-of-type(2) li{
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 30px 0px 0px;
}
header nav ul:nth-of-type(2) li:hover{
    background-color: black;
    padding: 15px;
}
header nav ul:nth-of-type(2) a:hover{
    color: white;
}


/* BACKGROUND */
section:first-of-type{
    background: url(../images/bg1.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}    
section:nth-of-type(2){
    background: url(../images/bg2.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}    
section:nth-of-type(3){
    background: url(../images/bg3.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}    
section:last-of-type{
    background: url(../images/bg4.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} 

/* BODY */
h2{
    display: flex;
    color:black;
    text-shadow:1px 1px white;
    font-size: 48px;
    justify-content: center;
    padding: 0% auto;
    margin: 0% auto;
    text-align: center;
}
p{
    display: flex;
    font-size: 14px;
    justify-content: center;
    color: black;
    text-shadow:1px 1px white;
    text-align: center;
}
main ul{
    list-style: none;
    padding: 0% auto;
    margin: 0% auto;
    position: relative;
    width: 70%;
    top: 40%;
    left: -20px;
}
main ul a{
    color: black;
    font-size: 14px;
    padding: 3px 30px;
    border: solid;
    text-decoration:none;
    position: absolute;
    right: 48%;
    transform: translateX(50%);
}

/* BOTTOM NAV */
.bottom{
    display: hidden;
}

@media (max-width: 700px){ 
    header nav .topmenu {
        justify-content: space-between;
    }
    header nav .topmenu  li:first-of-type{
        position: relative;
        margin-right:auto;
    }
    header .topmenu li:nth-of-type(2){
        display: none;
    }
    header .topmenu li:nth-of-type(3){
        display: flex;
        margin-left: auto;
    }
    header .topmenu li:nth-of-type(4){
        display: none;
    }
    header .topmenu li:nth-of-type(5){
        display: none;
    }
    header .topmenu li:nth-of-type(6){
        display: none;
    }
    .bottom {
        display: flex;
        justify-content: center;
        padding: 0%;
    }
    .bottom ul{
        position: fixed;
        list-style: none;
        padding: 0%;
        margin: 0%;
        top: 90%;
    }
    .bottom ul{
        display: flex;
        list-style: none;
    }
    .bottom ul a{
        text-decoration: none;
        color: black;
        text-shadow:1px 1px white;
        font-size: 20px;
    }
    .bottom li{
        margin: 10px;
    }
    .bottom li:nth-of-type(2){
        text-decoration: underline;
    }
}